body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.detail-hero {
  background-image: url(../../assets/images/details.svg);
  background-repeat: no-repeat;
  height: 648px;
  background-size: 100%;
  display: flex;
  position: relative; 
}

.movie-title {
  position: absolute; 
  bottom: -70px;
  left: 110px;
  width: 715px;
  height: 139px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #20283ecc;
  backdrop-filter: blur(24px);
  border-radius: 24px;
  gap: 8px;
  color: #fff;
}
.movie-title-content{
  padding: 40px 0 35px 40px;
}
.movie-title-category{
  display: flex;
  padding-bottom: 8px;
}
.movie-title-category p{
  font-size: 12px;
  color: #BEB7FB;

}
.movie-title-content h4{
  font-size: 32px;
  font-weight: 600;

}
.movie-details {
  display: flex;
  align-items: center;
  padding-left: 86px;
  padding-top: 121px;
  gap: 72px;
}
.movie-details-content {
  flex-direction: column;
}
.movie-details-content-header h4 {
  font-size: 30px;
  color: #ebeef5;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 24px;
}
.movie-details-content p {
  width: 684px;
  color: #8e95a9;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}
.movie-details img {
  width: 573px;
  height: 786px;
}
.movie-detail {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail {
  width: 245px;
  height: 64px;
  color: #ebeef5;
}
.detail div {
  padding-top: 24px;
}
.detail div h4 {
  font-size: 16px;
  color: #767e94;
  padding-bottom: 8px;
}
.detail div p {
  color: #ebeef5;
  font-size: 20px;
}
