body {
  font-family: "Poppins", sans-serif;
}
.detail-hero {
  background-image: linear-gradient(to left, #1d1d1d00, #1d1d1dcc), url("");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 648px;
  width: 100%;
  display: flex;
  position: relative;
  object-fit: cover;
}

.movie-title {
  position: absolute;
  bottom: -70px;
  left: 86px;
  width: 715px;
  height: 139px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #20283ecc;
  backdrop-filter: blur(24px);
  border-radius: 24px;
  gap: 8px;
  color: #fff;
  padding-right: 40px;
}
.movie-title-content {
  padding: 40px 0 35px 40px;
}

.movie-title-category {
  display: flex;
  padding-bottom: 8px;
  gap: 12px;
}
.movie-title-category p {
  font-size: 12px;
  color: #beb7fb;
}
.movie-title-content h4 {
  font-size: 32px;
  font-weight: 600;
}
.movie-details {
  width: 245px;
  display: flex;
  align-items: center;
  padding-top: 121px;
  gap: 72px;
}
.movie-image img {
  padding-left: 86px;
}
.movie-details-content {
  flex-direction: column;
}

.movie-details-content-header h4 {
  font-size: 30px;
  color: #ebeef5;
  line-height: 32px;
  font-weight: 700;
}

.movie-details-watch-link {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.movie-details-watch-link h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000a6;
  backdrop-filter: blur(24px);
  color: #ffad49;
  width: 102px;
  height: 32px;
  border-radius: 8px;
  font-family: var(--poppinsFont);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  padding: 6px;
  margin-right: 4px;
}

.movie-details-content-header {
  display: flex;
  justify-content: space-between;
}

.rate-area {
  margin-top: 32px;
  display: flex;
  gap: 4px;
  width: 59px;
  height: 32px;
  background-color: #000000a6;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.rate-area h5 {
  font-family: var(--poppinsFont);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffad49;
}

.movie-details-content-header img {
  width: 40px;
  height: 40px;
  background-color: #2a2a2a;
  border: 2px solid #ffffff80;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
}
.movie-details-content-header img:hover {
  rotate: 45deg;
  transition: 0.6s;
  background-color: #12cb5c80;
}
.movie-details-content p {
  width: 684px;
  color: #8e95a9;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}
.movie-details img {
  width: 573px;
  height: 786px;
}

.movie-detail {
  display: flex;
  flex-wrap: wrap;
}
.detail {
  width: 33.33%;
  height: 64px;
  color: #ebeef5;
}
.detail {
  padding-top: 24px;
}
.detail h4 {
  font-size: 16px;
  color: #767e94;
  padding-bottom: 8px;
  width: 245px;
}
.detail p {
  color: #ebeef5;
  font-size: 20px;
  width: 245px;
}
.comments-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 107px;
}
.comment-input {
  padding-left: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 85px;
}
.comment-input input {
  width: 810px;
  height: 64px;
  background-color: #000000;
  font-size: 14px;
  border-radius: 12px;
  border: 1px solid #323b54;
  outline: none;
  color: #475069;
  padding-left: 56px;
  color: #ffffff;
  font-family: var(--poppinsFont);
}

.comment-input input::placeholder {
  font-family: var(--poppinsFont);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #475069;
}
.comments-area button {
  width: 69px;
  height: 64px;
  padding: 12px 20px;
  background-color: #9b51e0;
  border: none;
  border-radius: 5px;
  margin-left: 22px;
  cursor: pointer;
}

.comments-area button:hover {
  background: none;
  transition: 0.6s;
}

.comment-input img {
  width: 35px;
  height: 35px;
}

.top-cast-area {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-left: -10px;
  margin-top: 42px;
}

.top-cast-area h1 {
  font-family: var(--robotoFont);
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  color: #ffffff;
}

.actors-area {
  display: flex;
  gap: 24px;
}

.actors-card img {
  width: 128px;
  height: 162px;
}

.actors-card p {
  font-family: var(--robotoFont);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 128px;
  height: 24px;
}

.comment-box {
  width: 683px;
  min-height: auto;
  padding: 25px 40px 25px 40px;
  margin-left: 86px;
  border: 2px solid #323b54;
  color: #c3c8d4;
  border-radius: 8px;
}

.comment-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-box-desc {
  font-size: 16px;
  padding-top: 22px;
}
.comment-box-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0d5640cc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal p {
  margin: 0;
  font-size: 16px;
  color: #fff;
}
