body {
  background-color: var(--bgColor);
}

.navbar {
  width: 56px;
  height: 100vh;
  background-color: #1d1d1d80;
  box-shadow: 0 40px 40px 8px #00000029;
  backdrop-filter: blur(24px);
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 40px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar a img {
  width: 56px;
  height: 56px;
}

.nav-list li:hover {
  opacity: 0.6;
  transition: 0.6s;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.nav-list li a img {
  width: 19.2px;
  height: 19.2px;
}

.container {
  padding-left: 56px;
}

.section-favourite {
  padding-bottom: 100px;
}
.section-favourite a {
  display: inline-block;
  padding-left: 10px;
  font-family: var(--robotoFont);
  font-weight: 500;
  color: var(--textColor);
  line-height: 24px;
  font-size: 35px;
  margin-top: 157px;
  padding-bottom: 48px;
}

.favourite-card-area {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.favourite-card-area::-webkit-scrollbar {
  display: none;
}

.favourite-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  position: relative;
  width: 504px;
  height: 736px;
  padding-left: 24px;
  background-size: 100%;
  cursor: pointer;
  position: relative;
}

.favourite-card-text {
  position: absolute;
  bottom: 40px;
  left: 48px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.favourite-card ul {
  display: flex;
  gap: 8px;
}

.favourite-card h1 {
  font-family: var(--robotoFont);
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: var(--textColor);
  width: 456px;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #1d1d1d00, #1d1d1dcc);
  z-index: 1;
}
