:root {
  --bgColor: #1d1d1d;
  --numansFont: "Numans", sans-serif;
  --poppinsFont: "Poppins", sans-serif;
  --ralewayFont: "Raleway", sans-serif;
  --interFont: "Inter", serif;
  --nunitosansFont: "NunitoSans" , serif;
  --textColor: #ffffff;
}
