.movie-table{
    margin-top: 30px;
}

.admin-acc-head button {
    margin-right: 28px;
    background-color: #9b51e0;
    border-radius: 4px;
    width: 92px;
    height: 26px;
    color: #fff;
    border: none;
    font-family: var(--numansFont);
  }
  .modal-content {
    background-color: #171616;
  }
  .form-control {
    background-color: #171616;
    border-color: #323b54;
  }
  .form-control:focus {
    background-color: #171616;
    border-color: #323b54;
    border: none;
    outline: none;
  }
   .submit{
    background-color: #9b51e0;
   
  }