.movie-table {
  margin-top: 100px;
  border-radius: 8px;
  overflow: hidden;
}
.movie-table thead {
  background-color: #1e1e1e;
  color: #fff;
}

.admin-acc-head button{
    margin-right:28px;
    /* padding: 12px 24px; */
    background-color: #9B51E0;
    border-radius: 4px;
    width: 92px;
    height: 26px;
    color: #fff;
    border: none;
}
